# Python
__pycache__/
*.py[cod]
*$py.class

# Poetry
.venv/
poetry.lock

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Operating System Files
.DS_Store
Thumbs.db

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/

# Sphinx documentation
docs/_build/

# pyenv
.python-version
